{% extends "layout.html" %}

{% block pageTitle %}
  Apply for a vehicle test - Contact details
{% endblock %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

  <a class="govuk-back-link" href="/error/contact_details">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
          There's a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li>
              <a href="#confirm-email-error">Email address and confirmed email address do not match</a>
            </li>
          </ul>
        </div>
      </div>

      <h1 class="govuk-heading-xl">Contact details</h1>

      <form class="form" action="/summary" method="post">

        <div class="govuk-form-group">
          <label class="govuk-label" for="telephone-number">
            Telephone number
          </label>
          <input class="govuk-input" id="telephone-number" name="telephone-number" type="text" placeholder="07725842568">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="email-address">
            Email address
          </label>
          <input class="govuk-input" id="email-address" name="email-address" type="text" placeholder="mario@dvsa.gov.uk">
        </div>

        <div class="govuk-form-group govuk-form-group--error">
          <label class="govuk-label" for="confirm-email-address">
            Re-type email address
          </label>
          <span id="email-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Enter your email address
          </span>
          <input class="govuk-input govuk-input--error" id="confirm-email-address" name="confirm-email-address" type="text" aria-describedby="confirm-email-error" placeholder="luigi@dvsa.gov.uk">
        </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}