{% extends "layout.html" %}

{% block pageTitle %}
  Help - Apply for a vehicle test - GOV.UK
{% endblock %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Help</h1>

      <p class="govuk-body">Contact the Driving and Vehicle Standards Agency (DVSA) for help with vehicle test applications.</p>

      <h2 class="govuk-heading-m" style="margin-bottom: 30px;">Contact</h2>

      <p class="govuk-body">
        <span><b>MOT, vehicle testing and approval</b></span>
        <br>
        <span><a href="mailto:enquiries@dvsa.gov.uk">enquiries@dvsa.gov.uk</a></span>
        <br>
        <span>Telephone: 0300 123 9000</span>
        <br>
        <span>Monday to Friday, 7:30am to 6pm</span>
        <br>
        <span><a href="https://www.gov.uk/call-charges">Find out about call charges</a></span>
      </p>

      <button style="margin-top: 25px;" class="govuk-button" data-module="govuk-button" onclick="window.close();">Close</button>

    </div>
  </div>

{% endblock %}