{% extends "layout.html" %}

{% block pageTitle %}
  Vehicle details - Apply for a vehicle test or approval - GOV.UK
{% endblock %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="../../feedback" target="_blank">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

  <a class="govuk-back-link" href="/alt/trailer_single_nosup/trailer_details">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-xl">Vehicle 1 of 1 - {{ data['1-select-a-test-type'] }}</span>
      <h1 class="govuk-heading-xl">Vehicle details</h1>

      <form class="form" action="/alt/trailer_single_nosup/upload_application_form" method="post">

        <div class="govuk-form-group">
          <label class="govuk-label--m" for="1-vin">
            Vehicle identification number (VIN)
          </label>
          <span id="hint" class="govuk-hint">
            Vehicles that are registered:
            <ul style="margin-top: 5px;">
              <li>after 1980 have a 17 character VIN</li>
              <li>before 1980 have an 8 or 21 character VIN</li>
            </ul>
          </span>
          <input class="govuk-input govuk-!-width-two-thirds" id="1-vin" name="1-vin" type="text">
        </div>
        
        <div class="govuk-form-group" style="margin-top: 60px;">
          <label class="govuk-label--m" for="trailer-id">
            DVSA trailer identification number (Trailer ID)
          </label>
          <span id="trailer-id-hint" class="govuk-hint">
            Must be in the format C123456 or 123456T
          </span>
          <input class="govuk-input govuk-!-width-two-thirds" id="trailer-id" name="trailer-id" type="text">
        </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}