{% extends "layout.html" %}

{% block pageTitle %}
  Test type - Apply for a vehicle test or approval - GOV.UK
{% endblock %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="/feedback" target="_blank">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

  <a class="govuk-back-link" href="/1_vehicle_type">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-xl">Vehicle 1 of 1</span>
      <h1 class="govuk-heading-xl">Test type</h1>

      <div class="govuk-inset-text">
        Clicking on a test type will reveal more information on that test type. For example, the description of that test.
      </div>

      <form class="form" action="/1_vehicle_details" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="1-select-a-test-type-conditional-hint">

            <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="1-select-a-test-type-conditional-1" name="1-select-a-test-type" type="radio" value="IVA 1C basic category A,C,S, statutory application" data-aria-controls="conditional-1-select-a-test-type-conditional-1">
                <label class="govuk-label govuk-radios__label" for="1-select-a-test-type-conditional-1">
                  IVA 1C basic category A,C,S, statutory application
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-1-select-a-test-type-conditional-1">
                <p class="govuk-body">
                  <span class="govuk-label">A- Amateur Built</span>
                  <span class="govuk-label">C- Vehicle built by a person in the business of building vehicles using parts of a vehicle registered in the UK</span>
                  <span class="govuk-label">S- Rebuilt vehicle</span>
                </p>
                <br>
                <p class="govuk-body">Expected processing time (from date of submission): <strong>10 days</strong></p>
                <br>
                <p class="govuk-body">Before you continue, ensure you have read the <a class="govuk-link" href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/834742/iva-guidance-notes-passenger-cars-1c.pdf" target="_blank">guidance documentation</a> for this test type.</p>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="1-select-a-test-type-conditional-2" name="1-select-a-test-type" type="radio" value="IVA 1C basic category A,C,S, voluntary application" data-aria-controls="conditional-1-select-a-test-type-conditional-2">
                <label class="govuk-label govuk-radios__label" for="1-select-a-test-type-conditional-2">
                  IVA 1C basic category A,C,S, voluntary application
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-1-select-a-test-type-conditional-2">
                <p class="govuk-body">
                  <span class="govuk-label">A- Amateur Built</span>
                  <span class="govuk-label">C- Vehicle built by a person in the business of building vehicles using parts of a vehicle registered in the UK</span>
                  <span class="govuk-label">S- Rebuilt vehicle</span>
                </p>
                <br>
                <p class="govuk-body">Expected processing time (from date of submission): <strong>10 days</strong></p>
                <br>
                <p class="govuk-body">Before you continue, ensure you have read the <a class="govuk-link" href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/834742/iva-guidance-notes-passenger-cars-1c.pdf" target="_blank">guidance documentation</a> for this test type.</p>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="1-select-a-test-type-conditional-3" name="1-select-a-test-type" type="radio" value="IVA 1C basic category L,M,N,P,T statutory application" data-aria-controls="conditional-1-select-a-test-type-conditional-3">
                <label class="govuk-label govuk-radios__label" for="1-select-a-test-type-conditional-3">
                  IVA 1C basic category L,M,N,P,T statutory application
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-1-select-a-test-type-conditional-3">
                <p class="govuk-body">
                  <span class="govuk-label">L - Vehicle manufactured in low volumes</span>
                  <span class="govuk-label">M - Ambulances, motor caravans, hearses, armoured vehicles</span>
                  <span class="govuk-label">N - Light goods vehicles</span>
                  <span class="govuk-label">P - Personal import</span>
                  <span class="govuk-label">T - Armoured vehicles</span>
                </p>
                <br>
                <p class="govuk-body">Expected processing time (from date of submission): <strong>10 days</strong></p>
                <br>
                <p class="govuk-body">Before you continue, ensure you have read the <a class="govuk-link" href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/834742/iva-guidance-notes-passenger-cars-1c.pdf" target="_blank">guidance documentation</a> for this test type.</p>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="1-select-a-test-type-conditional-4" name="1-select-a-test-type" type="radio" value="IVA 1C basic category L,M,N,P,T voluntary application" data-aria-controls="conditional-1-select-a-test-type-conditional-4">
                <label class="govuk-label govuk-radios__label" for="1-select-a-test-type-conditional-4">
                  IVA 1C basic category L,M,N,P,T voluntary application
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-1-select-a-test-type-conditional-4">
                <p class="govuk-body">
                  <span class="govuk-label">L - Vehicle manufactured in low volumes</span>
                  <span class="govuk-label">M - Ambulances, motor caravans, hearses, armoured vehicles</span>
                  <span class="govuk-label">N - Light goods vehicles</span>
                  <span class="govuk-label">P - Personal import</span>
                  <span class="govuk-label">T - Armoured vehicles</span>
                </p>
                <br>
                <p class="govuk-body">Expected processing time (from date of submission): <strong>10 days</strong></p>
                <br>
                <p class="govuk-body">Before you continue, ensure you have read the <a class="govuk-link" href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/834742/iva-guidance-notes-passenger-cars-1c.pdf" target="_blank">guidance documentation</a> for this test type.</p>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="1-select-a-test-type-conditional-5" name="1-select-a-test-type" type="radio" value="IVA 1C normal category R statutory application" data-aria-controls="conditional-1-select-a-test-type-conditional-5">
                <label class="govuk-label govuk-radios__label" for="1-select-a-test-type-conditional-5">
                  IVA 1C normal category R statutory application
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-1-select-a-test-type-conditional-5">
                <p class="govuk-body">R - Vehicle not meeting any other categories</p>
                <br>
                <p class="govuk-body">Expected processing time (from date of submission): <strong>10 days</strong></p>
                <br>
                <p class="govuk-body">Before you continue, ensure you have read the <a class="govuk-link" href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/834742/iva-guidance-notes-passenger-cars-1c.pdf" target="_blank">guidance documentation</a> for this test type.</p>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="1-select-a-test-type-conditional-6" name="1-select-a-test-type" type="radio" value="IVA 1C normal category R voluntary application" data-aria-controls="conditional-1-select-a-test-type-conditional-6">
                <label class="govuk-label govuk-radios__label" for="1-select-a-test-type-conditional-6">
                  IVA 1C normal category R voluntary application
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-1-select-a-test-type-conditional-6">
                <p class="govuk-body">R - Vehicle not meeting any other categories</p>
                <br>
                <p class="govuk-body">Expected processing time (from date of submission): <strong>10 days</strong></p>
                <br>
                <p class="govuk-body">Before you continue, ensure you have read the <a class="govuk-link" href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/834742/iva-guidance-notes-passenger-cars-1c.pdf" target="_blank">guidance documentation</a> for this test type.</p>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="1-select-a-test-type-conditional-7" name="1-select-a-test-type" type="radio" value="IVA 1C mutual recognition category E statutory application" data-aria-controls="conditional-1-select-a-test-type-conditional-7">
                <label class="govuk-label govuk-radios__label" for="1-select-a-test-type-conditional-7">
                  IVA 1C mutual recognition category E statutory application
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-1-select-a-test-type-conditional-7">
                <p class="govuk-body">E - European approval to the IVA standard of a member state</p>
                <br>
                <p class="govuk-body">Expected processing time (from date of submission): <strong>10 days</strong></p>
                <br>
                <p class="govuk-body">Before you continue, ensure you have read the <a class="govuk-link" href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/834742/iva-guidance-notes-passenger-cars-1c.pdf" target="_blank">guidance documentation</a> for this test type.</p>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="1-select-a-test-type-conditional-8" name="1-select-a-test-type" type="radio" value="IVA 1C application for IVA in Northern Ireland only" data-aria-controls="conditional-1-select-a-test-type-conditional-8">
                <label class="govuk-label govuk-radios__label" for="1-select-a-test-type-conditional-8">
                  IVA 1C application for IVA in Northern Ireland only
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-1-select-a-test-type-conditional-8">
                <p class="govuk-body">Expected processing time (from date of submission): <strong>3 days</strong></p>
                <br>
                <p class="govuk-body">Before you continue, ensure you have read the <a class="govuk-link" href="https://www.nidirect.gov.uk/sites/default/files/publications/IVA1C%20%20%20M1%20%20%28Application%20Form%20%26%20Guidance%20Notes%29%20DVA%208.pdf#page=10" target="_blank">guidance documentation</a> for this test type.</p>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="1-select-a-test-type-conditional-9" name="1-select-a-test-type" type="radio" value="IVA 5 request for replacement certificate" data-aria-controls="conditional-1-select-a-test-type-conditional-9">
                <label class="govuk-label govuk-radios__label" for="1-select-a-test-type-conditional-9">
                  IVA 5 request for replacement certificate
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-1-select-a-test-type-conditional-9">
                <p class="govuk-body">Replacement or duplicate approval certificate</p>
                <br>
                <p class="govuk-body">Expected processing time (from date of submission): <strong>5 days</strong></p>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="1-select-a-test-type-conditional-10" name="1-select-a-test-type" type="radio" value="IVA 9 application for a model report or TILT at a non DVSA site" data-aria-controls="conditional-1-select-a-test-type-conditional-10">
                <label class="govuk-label govuk-radios__label" for="1-select-a-test-type-conditional-10">
                  IVA 9 application for a model report or TILT at a non DVSA site
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-1-select-a-test-type-conditional-10">
                <p class="govuk-body">A model report for a vehicle - this proves the vehicle has a suitable hydraulic braking system. A tilt test for buses or coaches - this proves it will not tip over when it reaches a set angle.</p>
                <br>
                <p class="govuk-body">Expected processing time (from date of submission): <strong>10 days</strong></p>
                <br>
                <p class="govuk-body">Before you continue, ensure you have read the <a class="govuk-link" href="https://www.gov.uk/government/publications/apply-for-a-model-report-or-tilt-examination-at-a-non-dvsa-site/apply-for-a-model-report-or-tilt-examination-at-a-non-dvsa-site-guidance-notes" target="_blank">guidance documentation</a> for this test type.</p>
              </div>

          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}