{% extends "layout.html" %}

{% block pageTitle %}
  Test type - Apply for a vehicle test or approval - GOV.UK
{% endblock %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="/feedback" target="_blank">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

  <a class="govuk-back-link" href="/1_vehicle_type">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-xl">Vehicle 1 of 1</span>
      <h1 class="govuk-heading-xl">What individual vehicle approval (IVA) application do you need?</h1>

      <div class="govuk-inset-text">
        Clicking on an option will reveal more information about it.
      </div>

      <form class="form" action="/1_vehicle_details" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="1-select-a-test-type-conditional-hint">

            <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="1-select-a-test-type-conditional-1" name="1-select-a-test-type" type="radio" value="IVA 1C" data-aria-controls="conditional-1-select-a-test-type-conditional-1">
                <label class="govuk-label govuk-radios__label" for="1-select-a-test-type-conditional-1">
                  <!-- I have made or imported a single or a very small number of cars - England, Scotland and Wales -->
                  Get an approval for a car I have built/imported
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-1-select-a-test-type-conditional-1">
                <p class="govuk-hint">
                  <span class="govuk-hint">
                    This includes the following test types:
                    <ul class="govuk-hint govuk-list--bullet">
                      <li>IVA 1C basic category A,C,S application</li>
                      <li>IVA 1C basic category L,M,N,P,T application</li>
                      <li>IVA 1C normal category R application</li>
                      <li>IVA 1C mutual recognition category E application</li>
                    </ul>
                  </span>

                  <br>

                  <span class="govuk-hint">
                    Expected processing time from date of submission: <strong>10 days</strong>
                  </span>

                  <br>

                  <span class="govuk-hint">
                    Before you continue, ensure you have read the <a class="govuk-link" href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/834742/iva-guidance-notes-passenger-cars-1c.pdf" target="_blank">guidance documentation (opens in new tab)</a> for this test type.
                  </span>
                </p>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="1-select-a-test-type-conditional-2" name="1-select-a-test-type" type="radio" value="IVA 1C application for IVA in Northern Ireland only" data-aria-controls="conditional-1-select-a-test-type-conditional-2">
                <label class="govuk-label govuk-radios__label" for="1-select-a-test-type-conditional-2">
                  Get an approval for a car I have built/imported (Northern Ireland)
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-1-select-a-test-type-conditional-2">
                <span class="govuk-hint">
                  This includes the 'IVA 1C application for IVA in Northern Ireland only'.
                </span>

                <br>

                <span class="govuk-hint">
                  Expected processing time from date of submission: <strong>10 days</strong>
                </span>

                <br>

                <span class="govuk-hint">
                  Before you continue, ensure you have read the <a class="govuk-link" href="https://www.nidirect.gov.uk/sites/default/files/publications/IVA1C%20%20%20M1%20%20%28Application%20Form%20%26%20Guidance%20Notes%29%20DVA%208.pdf#page=10" target="_blank">guidance documentation (opens in new tab)</a> for this test type.
                </span>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="1-select-a-test-type-conditional-3" name="1-select-a-test-type" type="radio" value="IVA 5 request for replacement certificate" data-aria-controls="conditional-1-select-a-test-type-conditional-3">
                <label class="govuk-label govuk-radios__label" for="1-select-a-test-type-conditional-3">
                  Replace my Individual Vehicle Approval (IVA) certificate(s)
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-1-select-a-test-type-conditional-3">
                <span class="govuk-hint">
                  This includes the 'IVA 5 request for replacement certificate'.
                </span>

                <br>

                <span class="govuk-hint">
                  Expected processing time from date of submission: <strong>5 days</strong>
                </span>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="1-select-a-test-type-conditional-4" name="1-select-a-test-type" type="radio" value="IVA 9 application for a model report or TILT at a non DVSA site" data-aria-controls="conditional-1-select-a-test-type-conditional-4">
                <label class="govuk-label govuk-radios__label" for="1-select-a-test-type-conditional-4">
                  Get a vehicle model report for my car
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-1-select-a-test-type-conditional-4">
                <span class="govuk-hint">
                  This includes the 'IVA 9 application for a model report or TILT at a non DVSA site'.
                </span>
                
                <span class="govuk-hint">
                  Expected processing time from date of submission: <strong>10 days</strong>
                </span>

                <br>

                <span class="govuk-hint">
                  Before you continue, ensure you have read the <a class="govuk-link" href="https://www.gov.uk/government/publications/apply-for-a-model-report-or-tilt-examination-at-a-non-dvsa-site/apply-for-a-model-report-or-tilt-examination-at-a-non-dvsa-site-guidance-notes" target="_blank">guidance documentation (opens in new tab)</a> for this test type.
                </span>
              </div>
            </div>

          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}