{% extends "layout.html" %}

{% block pageTitle %}
  Apply for a vehicle test - Vehicle type
{% endblock %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

  <a class="govuk-back-link" href="/">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-xl">Vehicle 1 of 1</span>
      <h1 class="govuk-heading-xl">Vehicle type</h1>

      <form class="form" action="/1_test_type" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="1-select-a-vehicle-type" name="1-select-a-vehicle-type" type="radio" value="Heavy goods vehicle (HGV)">
                <label class="govuk-label govuk-radios__label" for="1-select-a-vehicle-type">
                  Heavy goods vehicle (HGV)
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="1-select-a-vehicle-type-2" name="1-select-a-vehicle-type" type="radio" value="Trailer">
                <label class="govuk-label govuk-radios__label" for="1-select-a-vehicle-type-2">
                  Trailer
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="1-select-a-vehicle-type-3" name="1-select-a-vehicle-type" type="radio" value="Light goods vehicle (LGV)">
                <label class="govuk-label govuk-radios__label" for="1-select-a-vehicle-type-3">
                  Light goods vehicle (LGV)
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="1-select-a-vehicle-type-4" name="1-select-a-vehicle-type" type="radio" value="Public service vehicle (PSV)">
                <label class="govuk-label govuk-radios__label" for="1-select-a-vehicle-type-4">
                  Public service vehicle (PSV)
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="1-select-a-vehicle-type-5" name="1-select-a-vehicle-type" type="radio" value="Car">
                <label class="govuk-label govuk-radios__label" for="1-select-a-vehicle-type-5">
                  Passenger car
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="1-select-a-vehicle-type-6" name="1-select-a-vehicle-type" type="radio" value="Motorcycle">
                <label class="govuk-label govuk-radios__label" for="1-select-a-vehicle-type-6">
                  Motorcycle
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}