{% extends "layout.html" %}

{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}

{% block pageTitle %}
  Upload supporting documents - Apply for a vehicle test or approval - GOV.UK
{% endblock %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

  <a class="govuk-back-link" href="/2_upload_application_form">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-xl">Vehicle 2 of 2 - {{ data['2-select-a-test-type'] }}</span>
      <h1 class="govuk-heading-xl">Upload supporting documents (optional)</h1>

      <form class="form" action="/2_add_another_vehicle" method="post"> <!-- /2_test_centre_preferences -->
        
        <div class="govuk-inset-text">
          Refer to the <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/834742/iva-guidance-notes-passenger-cars-1c.pdf" target="_blank">guidance documentation (opens in new tab)</a> for information on what to upload.
        </div>

        <!-- <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Document</th>
              <th scope="col" class="govuk-table__header">Upload required</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Model report</th>
              <td class="govuk-table__cell">Yes</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Export certificate</th>
              <td class="govuk-table__cell">Yes</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Photographs</th>
              <td class="govuk-table__cell">Optional</td>
            </tr>
          </tbody>
        </table> -->

        <div class="moj-multi-file-upload">
          <div class="moj-multi-file__uploaded-files moj-hidden">
            <h2 class="govuk-heading-s">Files added</h2>
            <div class="govuk-summary-list moj-multi-file-upload__list">
        
            </div>
          </div>
      
          <div class="moj-multi-file-upload__upload">
            <div class="govuk-form-group">
              <!-- <label class="govuk-label govuk-body" for="documents">
                Supporting documents
              </label> -->
              <input class="govuk-file-upload moj-multi-file-upload__input" id="documents" name="2-supporting-documents" type="file" multiple="">
            </div>
      
            <button type="submit" class="govuk-button govuk-button--secondary moj-multi-file-upload__button" data-module="govuk-button">
              Upload file
            </button>
          </div>
        </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}

{% block pageScripts %}

  <script>
    if(typeof MOJFrontend.MultiFileUpload !== 'undefined') {
      new MOJFrontend.MultiFileUpload({
        container: $('.moj-multi-file-upload'),
        uploadUrl: '/ajax-upload',
        deleteUrl: '/ajax-delete'
      });
    }
  </script>

{% endblock %}