{% extends "layout.html" %}

{% block pageTitle %}
  Feedback submitted - Apply for a vehicle test or approval - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Thank you</h1>

      <p class="govuk-body">Your feedback has been submitted.</p>

      <button style="margin-top: 25px;" class="govuk-button" data-module="govuk-button" onclick="window.close();">Close</button>

    </div>
  </div>

{% endblock %}