{% extends "layout.html" %}

{% block pageTitle %}
  What do you want to do? - Apply for a vehicle test or approval - GOV.UK
{% endblock %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">What do you want to do?</h1>

      <form class="form" action="/feedback_answer" target="_self" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="feedback-hint">
            <div class="govuk-radios govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="feedback" name="feedback-res" type="radio" value="yes" checked>
                <label class="govuk-label govuk-radios__label" for="feedback">
                  Leave feedback
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="feedback-2" name="feedback-res" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="feedback-2">
                  Get help with my application
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}