{% extends "layout.html" %}

{% block pageTitle %}
  Payment and booking information - Apply for a vehicle test or approval - GOV.UK
{% endblock %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

  <a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Payment and booking information
      </h1>

      <!-- <h3 class="govuk-heading-m">Vehicle test guidance</h3> -->
      <!-- <p>Refer to the information below once you have received email / postal confirmation that your vehicle test application has passed initial assessment.</p> -->

      <!-- <div class="govuk-inset-text">
        To book, cancel or amend an appointment, contact the Booking Section on <b>0300 123 900</b> and select option <b>one</b>.
      </div> -->

      <p class="govuk-body">To book, cancel or amend an appointment, contact the Booking Section on <b>0300 123 900</b> and select option <b>one</b>.</p>

      <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                VAT information
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
            <p class='govuk-body'>Rate will change depending on the vehicle testing type:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>statuary vehicle testing is zero rated, attracting 0% VAT</li>
              <li>voluntary vehicle testing is standard rated, attracting 20% VAT</li>
              <li>retained fees are standard rated, attracting 20% VAT</li>
            </ul>
          </div>
        </div>
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                Paying for your vehicle test(s)
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
            <p class='govuk-body'>You can pay for your test with a credit/ debit card, pre-funded account (PFA) or cheque.</p>
            <h3 class="govuk-heading-s">Credit/ debit card</h3>
            <p class='govuk-body'>To pay with a credit/ debit card:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>contact the Booking Section on <b>0300 123 900</b> and select option <b>one</b></li>
              <li>provide the operator with your booking reference number</li>
            </ul>
            <p class='govuk-body'>You need to provide the operator with your:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>card number</li>
              <li>security CSV / CVV number</li>
              <li>account holder / name on card</li>
            </ul>
            <h3 class="govuk-heading-s">Pre-funded account (PFA) or cheque</h3>
            <p class="govuk-body">Refer to the instructions on your application form to pay with a PFA or cheque.</p>
          </div>
        </div>
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                Booking your vehicle test(s)
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
            <p class='govuk-body'>Ensure you have paid for your test(s) before making a booking.</p>
            <h3 class="govuk-heading-s">DVSA Goods Vehicle Testing Facility (GVTS)</h3>
            <p class='govuk-body'>To book your test at a GVTS:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>contact the Booking Section on <b>0300 123 900</b> and select option <b>one</b></li>
              <li>provide the operator with your booking reference number</li>
            </ul>
            <p class='govuk-body'>The operator will guide you through the booking process.</p>
            <h3 class="govuk-heading-s">Privately Owned Testing Facility (POTF)</h3>
            <p class='govuk-body'>You must book direct with the POTF.</p>
          </div>
        </div>
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                Cancelling your vehicle test(s)
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
            <p class="govuk-body">You can make up to three appointment changes per application. DVSA will not refund the test fee paid if you cancel your test with three working days or less notice.</p>

            <!-- <h3 class="govuk-heading-s">Canceling your test before DVSA release it from processing</h3> -->
            <h3 class="govuk-heading-s" style="margin-top: 20px;">If you cancel your vehicle test application before DVSA release it from processing, then DVSA will:</h3>
            <ul class="govuk-list govuk-list--bullet">
              <li class="govuk-body">refund the test fee paid</li>
              <!-- <h3 class="govuk-heading-s">Cancelling your IVA application before DVSA release it from processing</h3> -->
              <li class="govuk-body">also keep a fee of £100 if you submitted an IVA application</li>
            </ul>
            
            <!-- <h3 class="govuk-heading-s">Cancelling your test within three working days before the appointment</h3> -->
            <h3 class="govuk-heading-s" style="margin-top: 20px;">If you cancel your vehicle test application within three working days before the test date, then DVSA will:</h3>
            <ul class="govuk-list govuk-list--bullet">
              <li class="govuk-body">let you request a later appointment for your vehicle test</li>
              <!-- <h3 class="govuk-heading-s">Cancelling your IVA application within three working days before the appointment</h3> -->
              <li class="govuk-body">also keep a fee of £100 if you submitted an IVA application</li>
            </ul>

            <!-- <h3 class="govuk-heading-s">Cancelling your test with three working days or less notice before the appointment</h3> -->
          </div>
        </div>
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                Amending your vehicle test(s)
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
            <p class='govuk-body'>You can swap like-for-like vehicle test appointments, given:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>both vehicles already have an appointment time allocated</li>
              <li>you used the same method of payment to pay for both tests</li>
              <li>the vehicle is the same test category and type with the same test duration</li>
              <li>the change occurs before midday on the working day before the appointment</li>
              <li>you can swap up to three appointments per application</li>
            </ul>
          </div>
        </div>
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                Changing your vehicle test location(s)
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
            <!-- <p class='govuk-body'>Contact the Booking Section on 0300 123 9000 using option one to change your test location.</p> -->
            <h3 class="govuk-heading-s">DVSA Goods Vehicle Testing Facility (GVTS) to Privately Owned Testing Facility (POTF)</h3>
            <p class='govuk-body'>Ensure you have cancelled the GVTS booking before requesting to change to a POTF. This will make sure you are not charged for not attending the GVTS appointment.</p>
            <h3 class="govuk-heading-s">DVSA Goods Vehicle Testing Facility (GVTS) to DVSA Goods Vehicle Testing Facility (GVTS)</h3>
            <p class="govuk-body">You do not need to cancel the initial GVTS booking.</p>
            <h3 class="govuk-heading-s">Privately Owned Testing Facility (POTF)</h3>
            <p class="govuk-body">You must contact the POTF direct to change from a POTF to another test centre.</p>
          </div>
        </div>
      </div>

      <h3 class="govuk-heading-m" style="margin-top: 30px;">Further information</h3>
      <p class='govuk-body'>You need to be aware:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>if you do not present the nominated vehicle at the allocated time, you must pay for and <a href="/index">submit a new application</a></li>
        <li>your three appointment swaps are not used if DVSA make changes to your appointment</li>
      </ul>

    </div>

  </div>
{% endblock %}